body {
    width: 1253;
    height: 678;
    background: #1C1C1C;
    display: block;
    margin: auto;
}

#text {
    padding-top: 115px;
}

h1 {
    font-family: Karla, sans-serif;
    font-weight: bolder; 
    font-size: 40px;
    color: white;
    line-height: .6;
}

#green {
    display: block;
    color: #10B981;
    line-height: 0;
}

h3 {
    font-family: Inter, sans-serif;
    font-weight: lighter;
    color: #D5D4D8;
    line-height: .9;
}

#mid-section {
    display: flex;

}

.buttons{
    padding-top: 14px;
    font-family: Karla, sans-serif;
}

#btn {
    font-size: 16px;
    background-color: #10B981;
    color: white;
    border-radius: 4px;
    padding: 10px 18px;

}

.checkboxes {
    display: flex;
    flex-direction: column;
    width: 600px;


}

input[type="checkbox"] {
    white-space: nowrap;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }
  
input[type="checkbox"]:checked {
    background-color: #10B981;
}

label{
    color: white;
    font-family: Inter, sans serif;
}
    

.text-output-group {
    font-family: Karla, sans serif;
    font-size: large;
    color: white;
    border-radius: 4px;
    background: #10B981;
    width: 120px;
}
